        <div class="panel">
            <div class="panelBargraph">
                <div class="bargraphMeter" style="height: 25.1%"></div>
            </div>
    <div class="digit"><span>25.1</span></div>
        </div>
